/*  
    an octocat background image on the website that covers the entire browser window at all times.
*/  
 
body {
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-size: cover;
} 

/*
    The container holds all objects in this page -->> flex .
*/

.container {
    width: 30%;
    min-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    padding: 40px;
    z-index: 10;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* right side  */

.form_card_content .fieldset {
    position: relative;
    margin-right: 40px;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 65px;
    padding-bottom: 40px;
    border-radius: 40px;
}

/* right side  */
.profile_card .fieldset {

    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px;
    border-radius: 40px;

}

/* set profile text items in 2 row  biside the photo  */

.profile_card .fieldset .detail_container {

    display: flex;
    flex-direction: row;


} 
/* the first row is next to the photo and columng ordering (name ,blog , location) */
.profile_card .fieldset .detail_container .text_detail {
    
    padding-left: 50px;
    padding-right:10px ;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center
}

/* the second row is below   */
.profile_card .fieldset .bio_container {

    padding-top: 40px ;
} 

/*
    All Buttons unic style
*/

.button {
    width: 90px;
    height: 25px;
    text-align: center;
    margin: 5px;
    background-color: rgb(0, 139, 107);
    color: white;
}

/*
    Error section 
*/
.action_result {
    display: none;
}


